{% extends "uiapp/base.html" %}
{% block content %}
<div class="searchbar">
    <input type="text" class="" placeholder="Search here">
</div>
<div class="below-search">
    <div class="row text-center">
        <div class="col-4 "><i class="fa-solid  fa-cubes me-2"></i><span class="i-text">Category</span></div>
        <div class="col-4 activate"><i class="fa-solid fs-md-5 fs-7 fa-flag me-2"></i><span class="i-text">Newest</span></div>
        <div class="col-4"><i class="fa-solid fs-md-5 fs-9 fa-person me-2"></i><span class="i-text">Your Follows</span></div>
        
    </div>
</div>

{% comment %} //////////////////////////////////////////////POSTS////////////////////////////////////// {% endcomment %}
<div class="mt-2">
    <div class="post-card">
        <div class="post-header">
            <div class="row">
                <div class="col-1">
                    <img class="user-icon" src="https://placeimg.com/30/30/person" alt="User Icon">
                </div>
                <div class="col-md-8 col-6 ">
                    <p >Elon Musk
                        <span class="d-block" style="font-size:12px;">1h ago</span>
                    </p>
                    
                    
                </div>
                <div class="col-md-2 col-5">
                
                        <div style="font-size:9px;">
                            10k+ Subscribers 
                        </div>
                        <button class="sub-btn btn btn-sm">Subscribed</button>
                    
                </div>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, alias.
            </p>
    
            <div class="post-img">
                <img class="user-icon" src="https://placeimg.com/700/300/ai" alt="image">
            </div>
            <div class="post-footer">
                <div class="row">
                    <div class="col-6">
                        <i class="fa-solid fs-4 me-2 text-danger fa-heart"></i>
                        <i class="fa-regular me-2 fa-comment fs-4"></i>
                        <i class="fa-solid fa-hand-holding-medical fs-4"></i> <span class="i-text">Send</span>
                    </div>
                    <div class="col-6 text-center">
                       <span class="i-text">5 Likes</span> <span class="i-text">4 Comments</span><span> <i class="fa-solid fa-bookmark"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="post-card">
        <div class="post-header">
            <div class="row">
                <div class="col-1">
                    <img class="user-icon" src="https://placeimg.com/30/30/person" alt="User Icon">
                </div>
                <div class="col-md-8 col-6 ">
                    <p >Elon Musk
                        <span class="d-block" style="font-size:12px;">1h ago</span>
                    </p>
                    
                    
                </div>
                <div class="col-md-2 col-5">
                
                        <div style="font-size:9px;">
                            10k+ Subscribers 
                        </div>
                        <button class="sub-btn btn btn-sm">Subscribed</button>
                    
                </div>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, alias.
            </p>
    
            <div class="post-img">
                <img class="user-icon" src="https://placeimg.com/700/300/ai" alt="image">
            </div>
            <div class="post-footer">
                <div class="row">
                    <div class="col-6">
                        <i class="fa-solid fs-4 me-2 text-danger fa-heart"></i>
                        <i class="fa-regular me-2 fa-comment fs-4"></i>
                        <i class="fa-solid fa-hand-holding-medical fs-4"></i> <span class="i-text">Send</span>
                    </div>
                    <div class="col-6 text-center">
                       <span class="i-text">5 Likes</span> <span class="i-text">4 Comments</span><span> <i class="fa-solid fa-bookmark"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="post-card">
        <div class="post-header">
            <div class="row">
                <div class="col-1">
                    <img class="user-icon" src="https://placeimg.com/30/30/person" alt="User Icon">
                </div>
                <div class="col-md-8 col-6 ">
                    <p >Elon Musk
                        <span class="d-block" style="font-size:12px;">1h ago</span>
                    </p>
                    
                    
                </div>
                <div class="col-md-2 col-5">
                
                        <div style="font-size:9px;">
                            10k+ Subscribers 
                        </div>
                        <button class="sub-btn btn btn-sm">Subscribed</button>
                    
                </div>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, alias.
            </p>
    
            <div class="post-img">
                <img class="user-icon" src="https://placeimg.com/700/300/ai" alt="image">
            </div>
            <div class="post-footer">
                <div class="row">
                    <div class="col-6">
                        <i class="fa-solid fs-4 me-2 text-danger fa-heart"></i>
                        <i class="fa-regular me-2 fa-comment fs-4"></i>
                        <i class="fa-solid fa-hand-holding-medical fs-4"></i> <span class="i-text">Send</span>
                    </div>
                    <div class="col-6 text-center">
                       <span class="i-text">5 Likes</span> <span class="i-text">4 Comments</span><span> <i class="fa-solid fa-bookmark"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
</div>

{% endblock content %}