{% extends 'uiapp/base.html' %}
{% block content %}
<div class="container">

<div class="blockuser">
    <h5 class=> <i class="fas fa-circle-xmark me-2"></i>Blocked Users</h5>

    <div class="blockuser-header">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item me-5 model">Model</li>
            <li class="list-group-item ms-5 ">Cancel</li>
        </ul>

    </div>
    <div class="blockuser-body">
        <ul class="list-group list-group-light list-group-horizontal">
            <li class="list-group-item blockuser-list border-0">
                <div class="d-flex align-items-center ">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="model-profile" style="width: 30px; height: 30px"
                    class="rounded-circle" />
                    <p class=" ms-1 mb-1 " id="Mname">John</p>
                </div> 
            </li>
            <li class="list-group-item  me-4">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i></li>
                </a>
   
        </ul>
        <hr>

        <ul class="list-group list-group-light list-group-horizontal">
            <li class="list-group-item blockuser-list border-0 ">
                <div class="d-flex align-items-center subscr-img">
                    <img src="https://placeimg.com/30/30/person" alt="model-profile" style="width: 30px; height: 30px"
                    class="rounded-circle" />
                    <p class=" ms-1 mb-1"  >Donn</p>
                </div> 
            </li>
            <li class="list-group-item  me-4">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i></li>
                </a>
   
        </ul>
        <hr>

        <ul class="list-group list-group-light list-group-horizontal">
            <li class="list-group-item blockuser-list border-0 ">
                <div class="d-flex align-items-center subscr-img">
                    <img src="https://placeimg.com/30/30/person" alt="model-profile" style="width: 30px; height: 30px"
                    class="rounded-circle" />
                    <p class=" ms-1 mb-1"  >Donn</p>
                </div> 
            </li>
            <li class="list-group-item  me-4">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i></li>
                </a>
   
        </ul>
        <hr>

        <ul class="list-group list-group-light list-group-horizontal">
            <li class="list-group-item blockuser-list border-0">
                <div class="d-flex align-items-center ">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="model-profile" style="width: 30px; height: 30px"
                    class="rounded-circle" />
                    <p class=" ms-1 mb-1 " id="Mname">John</p>
                </div> 
            </li>
            <li class="list-group-item  me-4">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i></li>
                </a>
   
        </ul>
        <hr>

        <ul class="list-group list-group-light list-group-horizontal">
            <li class="list-group-item blockuser-list border-0">
                <div class="d-flex align-items-center ">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="model-profile" style="width: 30px; height: 30px"
                    class="rounded-circle" />
                    <p class=" ms-1 mb-1 " id="Mname">John</p>
                </div> 
            </li>
            <li class="list-group-item  me-4">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i></li>
                </a>
   
        </ul>
        <hr>

    </div>
    
    <nav >
        <ul class="pagination justify-content-end">
          <li class="page-item ">
            <a class="page-link"><i class="fa-solid fa-angle-left"></i></a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a>
          </li>
        </ul>
    </nav>



</div>
    
</div>
{% endblock content %}