{% extends 'uiapp/base.html' %}
{% block content %}
<div class="container">

<div class="csupport">
    <h5 class=><i class="far fa-circle-question me-2"></i>Customer Support</h5>

    <div class="csupport-header mt-4">
        <h4 class="mb-3">How can we help?</h4>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </div>

    <div class="csupport-body mt-5">
        <h4>FAQ</h4>

       <div class="row">
         
            <div class="col-1 ">
              
                <div class="card shadow-0 border" id="font-arrow">
                    <a
                    class="nav-link mt-2 py-2 mx-0"
                    data-mdb-toggle="collapse"
                    href="#collapseExample"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    >
                    <i class="fa-solid fa-angle-left fa-rotate-270 fa-xs ms-3 me-2"></i>
                    </a>
               
                </div>   
        
            </div>
                
            <div class="col-11"> 
                <div class="card shadow-0 border" id="faq"> 
                    <ul class="list-group list-group-light">
                        <li class="list-group-item px-3">Anim pariatur cliche reprehenderit?</li> 
                        <div class="collapse mt-3 px-3" id="collapseExample1">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident.
                        </div>
                                              
                    </ul>                

                </div> 
            </div>

           
       </div>
       <div class="row">
         
            <div class="col-1 ">
          
                <div class="card shadow-0 border" id="font-arrow">
                    <a
                    class="nav-link mt-2 py-2 mx-0"
                    data-mdb-toggle="collapse"
                    href="#collapseExample1"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    >
                    <i class="fa-solid fa-angle-left fa-rotate-270 fa-xs ms-3 me-2"></i>
                    </a>
               
                </div>   
    
            </div>
            
            <div class="col-11"> 
                <div class="card shadow-0 border" id="faq"> 
                    <ul class="list-group list-group-light">
                        <li class="list-group-item px-3">The standard Lorem Ipsum passage?</li> 
                        <div class="collapse mt-3 px-3" id="collapseExample1">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident.
                        </div>                       
                    </ul>                
    
                </div> 
            </div>

       
        </div>
        <div class="row">
         
            <div class="col-1 ">
          
                <div class="card shadow-0 border" id="font-arrow">
                    <a
                    class="nav-link mt-2 py-2 mx-0"
                    data-mdb-toggle="collapse"
                    href="#collapseExample2"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    >
                    <i class="fa-solid fa-angle-left fa-rotate-270 fa-xs ms-3 me-2"></i>
                    </a>
               
                </div>   
    
            </div>
            
            <div class="col-11"> 
                <div class="card shadow-0 border" id="faq"> 
                    <ul class="list-group list-group-light">
                        <li class="list-group-item px-3">Where does it come from?</li> 
                        <div class="collapse mt-3 px-3" id="collapseExample2">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident.
                        </div>                       
                    </ul>                
    
                </div> 
            </div>

       
        </div>
        <div class="row">
         
            <div class="col-1 ">
          
                <div class="card shadow-0 border" id="font-arrow">
                    <a
                    class="nav-link mt-2 py-2 mx-0"
                    data-mdb-toggle="collapse"
                    href="#collapseExample3"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    >
                    <i class="fa-solid fa-angle-left fa-rotate-270 fa-xs ms-3 me-2"></i>
                    </a>
               
                </div>   
    
            </div>
            
            <div class="col-11"> 
                <div class="card shadow-0 border" id="faq"> 
                    <ul class="list-group list-group-light">
                        <li class="list-group-item px-3">Where can I get some?</li> 
                        <div class="collapse mt-3 px-3" id="collapseExample3">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                            sapiente ea proident.
                        </div>                       
                    </ul>                
    
                </div> 
            </div>

       
        </div>
      
        
    </div>

    <div class="csupport-footer mt-5">
        <h4 class="mb-3">Any other questions?</h4>
        <p>A reader will be distracted by the readable content of a page.</p>

        <div class="row mt-1 ">
            <div class="col-10">
                <div class="form-outline mb-4" style="border: 1px solid rgb(20, 20, 20); border-radius: 5px;">
                    <textarea class="form-control"   id="" rows="4"></textarea>
                    <label class="form-label" for="">Bank account, notes, etc.</label>
                </div>

            </div>
        </div>
    </div>
   
    <button type="button" id="btnns" class="btn  btn-lg shadow-0 mb-5">Send Message</button>


</div>
    
</div>

{% endblock content %}