{% extends "uiapp/base.html" %}
{% block content %}
<div class="searchbar">
    <input type="text" class="" placeholder="Search here">
</div>
<div class="below-search">
    <div class="row text-center">
        <div class="col-4 "><i class="fa-solid  fa-cubes me-2"></i><span class="i-text">Category</span></div>
        <div class="col-4 activate"><i class="fa-solid fs-md-5 fs-7 fa-flag me-2"></i><span class="i-text">Newest</span></div>
        <div class="col-4"><i class="fa-solid fs-md-5 fs-9 fa-person me-2"></i><span class="i-text">Your Follows</span></div>
        
    </div>
</div>


{% comment %} //////////////////////////////////////////////POSTS////////////////////////////////////// {% endcomment %}


{% for items in post %}
<div class="mt-2">
    <div class="post-card">
        <div class="post-header">
            <div class="row">
                <div class="col-1">
                    <a href="{% url 'userprofile' items.id %}">
                    <img class="user-icon" src="/media/{{items.profilepic}}" style="height:40px;width:40px"  alt="User Icon">
                        </a>
                </div>
                <div class="col-md-8 col-6 ">
                    <a href="{% url 'userprofile' items.id %}">

                    <p >{{items.first_name}}
                        <span class="d-block" style="font-size:12px;">{{items.date_joined}}</span>
                    </p>
                    </a>
                    
                </div>
                <div class="col-md-2 col-5">
                
                        <div style="font-size:9px;">
                            10k+ Subscribers 
                        </div>
                        <button class="sub-btn btn btn-sm">Subscribed</button>
                    <a href="{% url 'blockuser' items.id %}" class="sub-btn btn btn-sm"><i class="fa fa-ban" aria-hidden="true"></i></a>

                </div>
            </div>
            <p>
                {{items.description}}
            </p>
    
            <div class="post-img">
                <img class="user-icon" src="/media/{{ items.post_picture }}" alt="image">
            </div>

            <div class="post-footer">
                <div class="row">
                    <div class="col-6">
                       {% if items.is_like and items.user_id == user_id  %}
                        <a href="{% url 'like' items.id %}" style="font-wight:bold">
                        <i class="fa-solid fs-4 me-2 text-danger fa-heart"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'like' items.id %}" style="font-wight:bold">
                        <i class="fa-solid fs-4 me-2 text-danger fa-heart"></i>
                        </a>
                        {% endif %}

                        <a href="#">
                        <i class="fa-regular me-2 fa-comment fs-4"></i>
                        </a>

                        <a href="#">
                            <i class="fa-solid fa-hand-holding-medical fs-4"></i> <span class="i-text">Send</span>
                        </a>

                    </div>
                    <div class="col-6 text-center">
                       <span class="i-text">5 Likes</span>
                        <span class="i-text">4 Comments</span>

                        {% if items.is_bookmark and items.user_id == user_id %}
                        <span class="bookmark"><a style="color:blue"> <i class="fa-solid fa-bookmark"></i></a></span>
                        {% else %}
                        <span class="bookmark"><a style="color:black"> <i  class="fa-solid fa-bookmark"></i></a></span>
                        {% endif %}

                    </div>
                </div>
            </div>



        </div>
    </div>

    

</div>
{% endfor %}
{% endblock content %}

