{% extends 'uiapp/base.html' %}
{% block content %}
<div class="income mx-2">
    <h5 class=><i class="fa-solid fa-comment-dollar me-2"></i>Income</h5>

    <div class="available-income">
        <h4>$128.20</h4>
        <p>Your available income. Check <a href="/wallet"> WALLET </a> to deposit or withdraw!</p>
    </div>
    <div class="table-responsive">
   
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="income">Mr.Spexonaut</td>
                <td class="income-list">Monthly Subscription</td>
                <td class="income">$6.99</td>
                <td class="income">26/08/202</td>
            </tr>
            <tr>
                <td class="income">Alexander</td>
                <td class="income-list">Monthly Subscription</td>
                <td class="income">$8.99</td>
                <td class="income">26/08/2023</td>
            </tr>
            <tr>
                <td class="income">Mahme.Asmire</td>
                <td class="income-list">Tips</td>
                <td class="income">$60.99</td>
                <td class="income">10/08/2022</td>
            </tr>
            <tr>
                <td class="income">Donn</td>
                <td class="income-list">Tips</td>
                <td class="income">$6.99</td>
                <td class="income">26/05/2022</td>
            </tr>
            <tr>
                <td class="income">Jony</td>
                <td class="income-list">Tips</td>
                <td class="income">$6.99</td>
                <td class="income">26/08/2022</td>
            </tr>
            <tr>
                <td class="income">Healvan</td>
                <td class="income-list">Tips</td>
                <td class="income">$6.99</td>
                <td class="income">26/08/2022</td>
            </tr>
            <tr>
                <td class="income">Alexander</td>
                <td class="income-list">Monthly Subscription</td>
                <td class="income">$6.99</td>
                <td class="income">26/08/2022</td>
            </tr>
            <tr>
                <td class="income">Sunny</td>
                <td class="income-list">Tips</td>
                <td class="income">$6.99</td>
                <td class="income">26/08/2022</td>
            </tr>
            <tr>
                <td class="income">Moni Royy</td>
                <td class="income-list">Tips</td>
                <td class="income">$9.99</td>
                <td class="income">26/08/2022</td>
            </tr>
        </tbody>
    </table>
    
         
</div>
    <nav >
        <ul class="pagination justify-content-end">
          <li class="page-item ">
            <a class="page-link"><i class="fa-solid fa-angle-left"></i></a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a>
          </li>
        </ul>
    </nav>



</div>

{% endblock content %}