{% extends "uiapp/base.html" %}
{% block content %}


<div class="likedpost">
<h5 class="mx-2"><i class="fa-sharp fa-solid fa-heart  me-2 mb-2"></i>Liked Posts</h5>


{% for items in liked_posts %}
<div class="mt-2">
    <div class="post-card">
        <div class="post-header">
            <div class="row">
                <div class="col-1">
                    <img class="user-icon" src="/media/{{profile.profilepic}}" style="height:40px;width:40px"  alt="User Icon">
                </div>
                <div class="col-md-8 col-6 ">
                    <p >{{items.first_name}}
                        <span class="d-block" style="font-size:12px;">{{items.date_joined}}</span>
                    </p>


                </div>
                <div class="col-md-2 col-5">

                        <div style="font-size:9px;">
                            10k+ Subscribers
                        </div>
                        <button class="sub-btn btn btn-sm">Subscribed</button>

                </div>
            </div>
            <p>
                {{items.description}}
            </p>

            <div class="post-img">
                <img class="user-icon" src="/media/{{ items.post_picture }}" alt="image">
            </div>

            <div class="post-footer">
                <div class="row">
                    <div class="col-6">
                       {% if items.is_like and items.user_id == user_id  %}
                        <span class="myLike" id="{{items.current_post_id}}">
                        <i class="fa-solid fs-4 me-2 text-danger fa-heart" ></i>
                        </span>
                        {% else %}
                        <span class="myLike" id="{{items.current_post_id}}">
                            <i class="fa fa-heart-o" aria-hidden="true" style="font-size:23px !important"></i>

                        </span>
                        {% endif %}

                        <a href="#">
                        <i class="fa-regular me-2 fa-comment fs-4"></i>
                        </a>

                        <a href="#">
                            <i class="fa-solid fa-hand-holding-medical fs-4"></i> <span class="i-text">Send</span>
                        </a>

                    </div>
                    <div class="col-6 text-center">
                       <span class="i-text">5 Likes</span>
                        <span class="i-text">4 Comments</span>

                        {% if items.is_bookmark and items.user_id == user_id %}
                        <span class="myBookmark" id="{{items.current_post_id}}"><i class="fa-solid fa-bookmark" style="font-size:20px"></i></span>
                        {% else %}
                        <span class="myBookmark" id="{{items.current_post_id}}"><i class="fa fa-bookmark-o" style="font-size:20px"></i></span>
                        {% endif %}

                    </div>
                </div>
            </div>



        </div>
    </div>



</div>
{% endfor %}

</div>


{% endblock content %}