{% extends 'uiapp/base.html' %} {% block content %}
<div class="myprofile">
  <section class="h-100 gradient-custom-2">
    <div class="container mt-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shadow-0">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #131212; height:200px;">
                        <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Image description" class="img-fluid img-thumbnail mt-5 mb-2"> -->
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
                            <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                            alt="Generic placeholder image"
                            class="img-fluid img-thumbnail mt-5 mb-2"
                            style="width: 150px; border-radius: 50%; z-index: 1"
                            />
                        </div>
                    </div>
                    <!--  left side icons  -->
                    <div class="p-2 text-black">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-user-plus me-1"></i>
                                </a>
                            </div>
                            <div class="px-2">
                                <a href="{% url 'editprofile' %}" class="nav-link">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </div>
                            <div class="px-2">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-gift"></i>
                                </a>
                            </div>
                            <div class="px-2">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-message"></i>
                                </a>
                            </div>
                            <div class="px-2">
                                <a href="#" class="nav-link">
                                    <i class="far fa-bookmark me-2"></i>
                                </a>
                            </div>
                            <div>
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-arrow-up-from-bracket me-2"></i>
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-4 mt-3 text-black">
                         <!-- model info  -->
                        <div class="row mb-3">
                            <div class="col-10">
                                <div class="mb-3">
                                    <h5 style="font-weight: bold; line-height: 5px">
                                    GAXIA LEXA
                                    </h5>
                                    <p class="mb-1" style="font-weight: bold;font-size: 14px;">@UserGirlAi</p>
                                    <div>
                                        <p class="font-italic mb-1" style="font-size: 15px; line-height: 15px;">
                                            In publishing and graphic design, Lorem ipsum is a
                                            placeholder text commonly.
                                        </p>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-4 d-flex i-text">
                                        <i class="fa-solid fa-venus mt-1 me-1"></i><p>Female</p>
                                    </div>
                                    <div class="col-4 d-flex i-text">
                                        <i class="fa-solid fa-location-dot mt-1 me-1"></i><p >United Kingdom</p>
                                    </div>
                                    <div class="col-4 d-flex px-3 i-text">
                                        <i class="fa-solid fa-person mt-1 me-1 ms-4"></i><p>White</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- buttons -->
                        <div class="row mb-3">
                            <div class="col-md-4 col-6">
                                <button class="btn shadow-0 " id="buton">Subscribe</button>
                            </div>
                            <div class="col-md-3 col-6 " style="margin-left:-50px;">
                                <button class="btn shadow-0 px-4 mx-1 " id="buton">Tip</button>
                            </div>
                        </div>
                        <hr>

                        <!-- content button -->
                        <div class="d-flex justify-content-center align-items-center  mt-4 mb-4">
                            <div class=" d-flex i-text " style="margin-right: 50px;" id="content">
                                <i class="fa-solid fa-file-lines mt-1 me-2"></i>
                                <p class="mb-0"><a href="#!" class="nav-link">Recently Shared</a></p>
                            

                            </div>
                            <div class=" d-flex i-text " style="margin-right: 10px;" id="content">
                                <i class="fa-regular fa-image mt-1 me-2"></i>
                                <p class="mb-0"><a href="#!" class="nav-link">All Contect</a></p>

                            </div>
                        
                        </div>

                        <!-- content show  -->
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
 
</div>
<div class="row">
    <div class="col-12 ">
            <div class="post-card">
                <div class="post-header">
                    <div class="row">
                        <div class="col-1">
                            <img class="user-icon" src="https://placeimg.com/30/30/person" alt="User Icon">
                        </div>
                        <div class="col-7">
                            <p >Elon Musk
                                <span class="d-block" style="font-size:12px;">1h ago</span>
                            </p>
                            
                            
                        </div>
                        <div class="col-2">
                        
                                <div style="font-size:9px;">
                                    10k+ Subscribers 
                                </div>
                                <button class="sub-btn btn btn-sm">Subscribed</button>
                            
                        </div>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, alias.
                    </p>
            
                    <div class="post-img">
                        <img class="user-icon" src="https://placeimg.com/700/300/ai" alt="image">
                    </div>
                    <div class="post-footer">
                        <div class="row">
                            <div class="col-6">
                                <i class="fa-solid fs-4 me-2 text-danger fa-heart"></i>
                                <i class="fa-regular me-2 fa-comment fs-4"></i>
                                <i class="fa-solid fa-hand-holding-medical fs-4"></i> tip
                            </div>
                            <div class="col-6 text-center">
                                5 Likes 4 Comments   <i class="fa-solid fa-bookmark  ms-2 mr-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-card">
                <div class="post-header">
                    <div class="row">
                        <div class="col-1">
                            <img class="user-icon" src="https://placeimg.com/30/30/person" alt="User Icon">
                        </div>
                        <div class="col-7">
                            <p >Elon Musk
                                <span class="d-block" style="font-size:12px;">1h ago</span>
                            </p>
                            
                            
                        </div>
                        <div class="col-2">
                        
                                <div style="font-size:9px;">
                                    10k+ Subscribers 
                                </div>
                                <button class="sub-btn btn btn-sm">Subscribed</button>
                            
                        </div>
                    </div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, alias.
                    </p>
            
                    <div class="post-img">
                        <img class="user-icon" src="https://placeimg.com/700/300/ai" alt="image">
                    </div>
                    <div class="post-footer">
                        <div class="row">
                            <div class="col-6">
                                <i class="fa-solid fs-4 me-2 text-danger fa-heart"></i>
                                <i class="fa-regular me-2 fa-comment fs-4"></i>
                                <i class="fa-solid fa-hand-holding-medical fs-4"></i> Send tip
                            </div>
                            <div class="col-6 text-center">
                                5 Likes 4 Comments   <i class="fa-solid fa-bookmark  ms-2 mr-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock content %}
