{% extends 'uiapp/base.html'%}
{% block content %}
<div class="notification mx-1">
    <h5 class="mx-2"><i class="fa-sharp fa-solid fa-bell me-2 mb-2"></i>Notifications</h5>
    <div class="notification-header ">
        <div class="tabs">
            <div class="tabb active i-text" ><i class="fa-brands fa-line   ms-3 me-2"></i>All</div>
            <div class="tabb i-text" ><i class="fa-sharp fa-solid fa-envelope  me-2"></i>Messages</div>
            <div class="tabb i-text" ><i class="fas fa-tag ms-2 me-2"></i>Subscribers</div>
            <div class="tabb i-text"><i class="fa-sharp fa-solid fa-gift  ms-2 me-2"></i>Tips</div>
        </div>
    </div>

    
    <div class="row notification-body">
        <div class="col-6">
            <div class="card noti-card shadow-0 ">
                <div class="row">
                    <div class="col-md-3 col-2">
                        <div class="noti-img mt-5">
                            <img src="https://source.unsplash.com/user/erondu/120x105" alt="user_profile">
                        </div>
                    </div>
                    <div class="col-md-9 col-10">
                        <div class="card-body">
                            <h5 class="card-title"> BrownSuger</h5>
                            <p class="card-text">
                              @BrownSuger_ko
                            </p>
                            <p class="i-text">Hey,this is a message!</p>
                            <p >
                              <small class="text-muted">2 days before</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row notification-body">
        <div class="col-6">
            <div class="card noti-card shadow-0 ">
                <div class="row">
                    <div class="col-md-3 col-2">
                        <div class="noti-img mt-5">
                            <img src="https://source.unsplash.com/user/erondu/120x105" alt="user_profile">
                        </div>
                    </div>
                    <div class="col-md-9 col-10">
                        <div class="card-body">
                            <h5 class="card-title"> BrownSuger</h5>
                            <p class="card-text">
                              @BrownSuger_ko
                            </p>
                            <p class="i-text">Hey,this is a message!</p>
                            <p >
                              <small class="text-muted">2 days before</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row notification-body">
        <div class="col-6">
            <div class="card noti-card shadow-0 ">
                <div class="row">
                    <div class="col-md-3 col-2">
                        <div class="noti-img mt-5">
                            <img src="https://source.unsplash.com/user/erondu/120x105" alt="user_profile">
                        </div>
                    </div>
                    <div class="col-md-9 col-10">
                        <div class="card-body">
                            <h5 class="card-title"> BrownSuger</h5>
                            <p class="card-text">
                              @BrownSuger_ko
                            </p>
                            <p class="i-text">Hey,this is a message!</p>
                            <p >
                              <small class="text-muted">2 days before</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row notification-body">
        <div class="col-6">
            <div class="card noti-card shadow-0 ">
                <div class="row">
                    <div class="col-md-3 col-2">
                        <div class="noti-img mt-5">
                            <img src="https://source.unsplash.com/user/erondu/120x105" alt="user_profile">
                        </div>
                    </div>
                    <div class="col-md-9 col-10">
                        <div class="card-body">
                            <h5 class="card-title"> BrownSuger</h5>
                            <p class="card-text">
                              @BrownSuger_ko
                            </p>
                            <p class="i-text">Hey,this is a message!</p>
                            <p >
                              <small class="text-muted">2 days before</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
</div>  



{% endblock content  %}