{% extends 'uiapp/base.html' %}
{% block content %}
<div class="container">

<div class="subscription">
    <h5 class=> <i class="fas fa-tag me-2"></i>Subscriptions</h5>
    <div class="table-responsive">
    <table class="table no-wrap">
        <thead>
            <tr>
                <th>Model</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>Renewal Date</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center subscr-img">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="model-profile" style="width: 30px; height: 30px" class="rounded-circle" />
                        <p class="ms-1 mb-1">John</p>
                    </div>
                </td>
                <td>Free</td>
                <td>Aug 2, 2022</td>
                <td>26/08/2022</td>
                <td>
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center subscr-img">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="model-profile" style="width: 30px; height: 30px" class="rounded-circle" />
                        <p class="ms-1 mb-1">John</p>
                    </div>
                </td>
                <td>Free</td>
                <td>Aug 2, 2022</td>
                <td>26/08/2022</td>
                <td>
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center subscr-img">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="model-profile" style="width: 30px; height: 30px" class="rounded-circle" />
                        <p class="ms-1 mb-1">John</p>
                    </div>
                </td>
                <td>Free</td>
                <td>Aug 2, 2022</td>
                <td>26/08/2022</td>
                <td>
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center subscr-img">
                        <img src="https://placeimg.com/30/30/person" alt="model-profile" style="width: 30px; height: 30px" class="rounded-circle" />
                        <p class="ms-1 mb-1">Donn</p>
                    </div>
                </td>
                <td>Monthly</td>
                <td>Aug 2, 2022</td>
                <td>26/08/2022</td>
                <td>
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center subscr-img">
                        <img src="https://placeimg.com/30/30/person" alt="model-profile" style="width: 30px; height: 30px" class="rounded-circle" />
                        <p class="ms-1 mb-1">Donn</p>
                    </div>
                </td>
                <td>Free</td>
                <td>Sep 2, 2022</td>
                <td>26/09/2022</td>
                <td>
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
    <nav >
        <ul class="pagination justify-content-end">
          <li class="page-item ">
            <a class="page-link"><i class="fa-solid fa-angle-left"></i></a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a>
          </li>
        </ul>
    </nav>



</div>
    
</div>

{% endblock content %}