{% extends 'uiapp/base.html' %}
{% block content %}
<div class="wallet mx-2">
    <h5 class=><i class="fas fa-wallet me-2"></i>Wallet</h5>
    <div class="wallet-header ">
        <div class="tabs ">
            <a href="/wallet" class="tab nav-link"><i class="fa-solid fa-arrow-right-to-bracket fa-rotate-270 "></i>Deposit</a>
            <a href="/withdraw" class="tab active nav-link"><i class="fa-solid fa-arrow-right-to-bracket fa-rotate-90 me-2"></i>Withdraw</a>
        </div>
    </div>

    <div class="available-income">
        <h4>$0.60</h4>
        <p>Your available income. You can always deposit more money.</p>
    </div>

    <div class="wallet-body">

        <p class="mt-5 mb-3" style=" font-weight: bold; font-size: 20px; color: rgb(20, 20, 20);">Proceed with withdraw</p>

        <!-- search bar  -->
        <div class="input-group rounded">
            <span class="input-group-text py-4 px-3" style="background-color: rgb(214, 209, 209); color: black; border: 1px solid black;" id="search-addon">
                <i class="fa-solid fa-camera-retro fs-4"></i>
            </span>
            <input type="search" class="form-control search rounded py-4" placeholder="Amount ($5 min, $500 max)" style="border: 1px solid black;" />
        </div>

        <div class="row mt-4 ">
            <div class="col-5">
                <p>Payment Method</p>
                <div class="input-group rounded">
                    <span class="input-group-text py-4 px-3" style="background-color: rgb(214, 209, 209); color: black; border: 1px solid rgb(27, 27, 27);" id="search-addon">
                        <i class="fa-solid fa-camera-retro fs-4"></i>
                    </span>
                    <input type="search" class="form-control search rounded py-4" placeholder="Bank Transfer" style="border: 1px solid rgb(27, 27, 27);" />
                </div>
            </div>
            <div class="col-4">
                <p>Bank Account</p>
                <div class="input-group rounded">
                    <input type="search" class="form-control search rounded py-4" placeholder="Bank Account" style="border: 1px solid rgb(27, 27, 27);" />
                </div>
            </div>
        </div>

        <!-- textarea  -->
        <div class="row mt-4 textareaa">
            <div class="col-10">
                <label class="form-label" for="">Message (Optional)</label>
                <div class="form-outline mb-4" style="border: 1px solid rgb(20, 20, 20); border-radius: 5px;">
                    <textarea class="form-control"   id="" rows="4"></textarea>
                    <label class="form-label" for="">Bank account, notes, etc.</label>
                </div>

            </div>
        </div>
    </div>

    <!-- butthon  -->
    <button type="button" id="btns" class="btn  btn-lg shadow-0 mb-5">Request  Withdraw</button>

</div>
{% endblock content %}