/* Navbar styles */
.navbarr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 15px;
  
    color: black;
    z-index: 1000; /* Increased z-index */
    /* background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease-in-out; */
  }
  nav.scrolled {
    background-color: #fff;
    color: #000;
  }
  
  .navbar-options a {
    color: black;
  }
  /* .navbar-options{
    border: 1px solid red;
  } */
  nav.scrolled .navbar-options a {
    color: #000;
  }
  
  .navbar-logo {
    order: 1;
    font-weight: bold;
    font-size: 30px;
    width: 20%;
    text-align: center;
    /* border: 1px solid red; */
  }
  
  .navbar-logo a {
    color: gold;
  
  }
  
  .app-btn {
    color: black;
    border: 1px solid gold;
    padding: 9px;
  }
  
  .navbar-options {
    order: 2;
  }
  
  .navbar-options a {
    /* color: black; */
    padding: 24px;
    font-size: 21px;
  }
  .navbar-options a:hover{
    border-bottom: 1px solid gold;
    
  }
  .navbar-buttons {
    order: 3;
    text-align: center;
    /* border: 1px solid red; */
    margin-right: 10px;
    color: white;
  }
  
  .navbar-hamburger {
    order: 4;
    cursor: pointer;
    display: none;
    color: black;
  }
  
  .sidebar-close {
    cursor: pointer;
    font-size: 35px;
  }
  
  /* Sidebar styles */
  .sidebar {
    z-index: 500; /* Decreased z-index */
    width: 250px;
    background-color: white;
    z-index: 1000;
    color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s;
    padding: 20px;
    
    overflow-y:scroll;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .navbar-options {
    text-align: center;
  }
  
  .navbar-options a {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    /* color: #333; */
    transition: color 0.2s, background-color 2s;
  }
  
  .navbar-options a:hover {
    color: gold;
    /* background-color: rgba(201, 201, 201, 0.2); */
    border-radius: 7px;
  }
  
  
  
  
  .navbar-options {
    text-align: center;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropbtn {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    /* color: #333; */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: black;
  }
  
  /* .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropbtn:hover {
    color: #fff;
    /* background-color: #333; 
  } */
  
  #logo{
    width:17%;
  }
  #footlogo{
    width:90%;
  }
  @media (max-width: 768px) {
    #logo{
      width:80%;
    }
    #logo{
      width:40%;
    }
  }
  
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    .navbar-logo {
      order: 2;
      text-align: center;
    }
  
    .navbar-options {
      display: none;
    }
  
    .navbar-buttons {
      order: 3;
    }
  
    .navbar-hamburger {
      order: 1;
      display: block;
    }
  
    .sidebar {
      left: -100%;
    }
  
    .sidebar.show {
      left: 0;
    }
  }
  