.newpost h5{
    font-weight: bold;
    font-size: 24px;
    padding-left: 50px;
}
.form-container {
    position: relative;
}


.form-container .btn-primary {
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-container .form-label {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-check-inline label{
    font-size: 13px;
}
.newpost h4{
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
}
.file{
    border: 1px solid rgb(14, 13, 13);
    border-radius: 5px;
}