.terms h5{
    font-weight: bold;
    font-size: 25px;
}

.terms-header h4{
    font-weight: bold;
    font-size: 18px;
}

.terms-header p{
    line-height: 18px;
}

.terms-body h4{
    font-weight: bold;
    font-size: 21px;
}
.terms-body p{
    line-height: 18px;
}