.wallet h5{
    font-weight: bold;
    font-size: 25px;
}
.wallet-header{
  
    width: 40%;
    margin: auto;
}
.tabs {
    display: flex;
  }

  .tab {
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
  }

  .tab.active {
    color: rgb(37, 166, 240);
    font-weight: bold;
  }

  .available-income{
    background-color: rgb(214, 209, 209);
    padding: 30px;
    margin:15px 2px ;
    border-radius: 15px;

    
}

.available-income h4{
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    font-size: 30px;
}

.available-income p{
    font-weight: bold;
    color: rgb(26, 25, 25);
    margin-bottom: 2px;
    font-size: 16px;
}
.form-check-input{
  background-color: rgb(78, 75, 75);
  /* color: rgb(194, 192, 192); */
}

.wallet-body button{
  background-color:  rgb(214, 209, 209);
  width: 210px;
  margin-top: 10px;
  color:rgb(20, 20, 20) ;
  font-weight: bold;
}

/* ............................withdraw css ..........  */
#btns{
  background-color:  rgb(214, 209, 209);
  width: 210px;
  margin-top: 10px;
  color:rgb(20, 20, 20) ;
  font-weight: bold;
}


