{% extends 'uiapp/base.html' %}
{% block content %}

    <script src="https://js.stripe.com/v3/"></script>
<div class="container">

<div class="paymentinfo">
    <h5 class=><i class="far fa-credit-card me-2 mb-2"></i>Payment Information</h5>


    <div class="paymentinfo-header mt-4">
        <h4 class="mb-3">Saved Payment Information</h4>
        <div class="card border shadow-0">
            <div class="row py-2">

                <div class="col-1 mt-3 ">
                    <div id="checkbox">
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
                    </div>
                </div>
                <div class="col-8 mt-2 info">
                    <h4>Visa***1234</h4>
                    <p>kelly hoffman</p>
                </div>
                <div class="col-3 mt-3">
                    <p>Expires 12/25</p>
                </div>
            </div>
            <hr >
            <div class="row py-2">

                <div class="col-1 mt-3 ">
                    <div id="checkbox">
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
                    </div>
                </div>
                <div class="col-8 mt-2 info">
                    <h4>MasterCard***5678</h4>
                    <p>kelly hoffman</p>
                </div>
                <div class="col-3 mt-3">
                    <p>Expires 12/25</p>
                </div>
            </div>
        </div>

        <!-- icons  -->
        <div class="row mt-2">
            <div class=" offset-md-9 col-1  ">
                   <a href="#" class="nav-link">
                    <i class="fa-solid fa-plus fs-5 ms-5 "></i>
                   </a>
            </div>
            <div class="col-1  ">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-trash-can fs-5 ms-5"></i>
                </a>

            </div>
        </div>

    </div>




    <form method="post" enctype="multipart/form-data" action="{% url 'payment-information-card' %}">
                        {% csrf_token %}

        <div class="form-row">

            <label for="card-element">
                Credit or Debit Card
            </label>
            <div id="card-element">

            </div>

            <div id="card-errors" role="alert">

            </div>
        </div>



    <button type="submit" id="btnns" name="submit" class="btn  btn-lg shadow-0 mt-5 mb-5">Save</button>

    </form>





</div>
    
</div>

{% endblock content %}