{% extends 'uiapp/base.html' %}
{% block content %}
<div class="container">

<div class="subscription">
    <h5 class=> <i class="fas fa-tag me-2"></i>Subscriptions</h5>
    <div class="table-responsive">
    <table class="table no-wrap">
        <thead>
            <tr>
                <th>Model</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>Renewal Date</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
        {% for items in subscriptions %}
            <tr>
                <td>
                    <div class="d-flex align-items-center subscr-img">
                        <img src="/media/{{items.profilepic}}" alt="model-profile" style="width: 30px; height: 30px" class="rounded-circle" />
                        <p class="ms-1 mb-1">{{items.first_name}}</p>
                    </div>
                </td>
                <td>Premium</td>
                <td>{{items.start_date}}</td>
                <td>items.end_date</td>
                <td>
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-rectangle-xmark fs-4 ms-5"></i>
                    </a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
    <nav >
        <ul class="pagination justify-content-end">
          <li class="page-item ">
            <a class="page-link"><i class="fa-solid fa-angle-left"></i></a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a>
          </li>
        </ul>
    </nav>



</div>
    
</div>

{% endblock content %}